{% extends 'base.html' %}

{% load static %}

{% block title %}Arch Value Solutions | Strategic Marketing Consultants{% endblock %}

{% block description %}Need Description{% endblock %}

{% block inline_css %}
<style type="text/css">
	{# Global CSS #}
	.arch-brand-color {
		color: #ff6601;
	}
	{# Hero CSS #}
	.homepage-hero {
		background-image: url({% static 'img/DSC_2826_optim.jpg' %});
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		color: #fff;
	}

	.hero-layer {
		background: linear-gradient(225deg, #FF660159 0%, #00000059 50%);
	}

	.hp-hero-row {
		padding-top: 130px;
		padding-bottom: 130px;
	}

	{# Services Tab CSS #}
	.service-tab-bg {
		background-image: url({% static 'img/DSC_2867.jpg' %});
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		color: #fff;
	}

	.service-tab-bg-layer {
		background: linear-gradient(135deg, #DEDEDE96 0%, #46454596 100%);
	}

	.service-tab-hero-row {
		padding-top: 80px;
		padding-bottom: 50px;
	}

	.service-nav-tabs {
		border-bottom: none;
	}

	.service-tab {
		width: 180px;
		background-color: #b8b8b8;
	}

	.service-tab u {
		text-decoration-color: #ff6601;
		text-underline-position: under;
	}

	.service-nav-tabs .nav-link {
		color: #3a3a3a;
	}

	.service-nav-tabs .nav-link:hover {
		color: #606060;
	}

	.service-nav-tabs .nav-link:hover {
		border-color: transparent;
	}

	.service-nav-tabs .nav-link.active {
		background-color: #3a3a3a;
		border-color: #3a3a3a;
		color: #fff;
	}

	.service-nav-tabs .nav-item {
		margin-left: 5px;
		margin-right: 5px;
		margin-bottom: 0px;
	}

	.service-tab-pane i {
		color: #ff6601;
	}

	.service-tab-pane h5 {
		color: rgba(255,255,255,.75);
	}

	.service-tab-pane p {
		color: #fff;
	}

	{# Testimonial CSS #}

	.test-bg-image {
		background: linear-gradient(-45deg, #E8900099 0%, #E75C0099 100%), url({% static 'img/DSC_2859.jpg' %});
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		color: #fff;
	}

	.arch-quote:first-child:before {
		font-family: "Font Awesome 5 Free";
		font-style: normal;
		content: "\f10d";
	    color: #b8b8b8;
	    font-size: 3em;
	    font-weight: 700;
	    opacity: .3;
	    position: absolute;
	    top: -0.7em;
	    left: 0em;
	    text-shadow: none;
	}

	.test-carousel-inner {
		position: initial;
	}

	.test-carousel-indicators {
		position: relative;
	}

	.test-carousel-indicators li {
		background-color: #3a3a3a;
	}

	.test-copy-block {
		height: 200px;
	}
</style>
{% endblock %}

{% block content %}
{# Hero #}
{% include 'partials/_hp_hero.html' %}
{# What Is Arch Value #}
{% include 'partials/_hp_what_is_arch.html' %}
{# Services Tab #}
{% include 'partials/_hp_services.html' %}
{# Testimonials #}
{% include 'partials/_hp_testimonial.html' %}
{% endblock %}