<form method="post" id="form" action="{% url 'contacts:contact_form' %}">
{% csrf_token %}
  <div class="form-group">
    <select class="form-control" name="user_type" required="required">
      <option value="" disabled="" selected="">Tell us who you are</option>
      <option>OEM</option>
      <option>Distributor</option>
      <option>Other</option>
    </select>
  </div>
  <div class="form-group user-name-prep">
    <input type="name" id="userName" name="user_name" class="form-control" placeholder="Name" required="required">
  </div>
  <div class="form-group user-email-prep">
    <input type="email" id="userEmail" name="user_email" class="form-control" placeholder="Email" required="required">
  </div>
  <div class="form-group user-number-prep">
    <input type="tel" id="userNumber" name="user_phone" class="form-control" placeholder="Phone Number (Optional)">
  </div>
  <div class="form-group user-company-prep">
    <input name="user_company" id="userCompany" class="form-control" placeholder="Company Name (Optional)">
  </div>
  <div class="form-group user-message-prep">
    <textarea id="userMessage" class="form-control" rows="5" placeholder="Message" name="user_message" required="required"></textarea>
  </div>
  <div class="form-group">
      <div class="form-check">
		<input class="form-check-input" name="user_subscribe" type="checkbox" value="True" id="defaultCheck1">
		<label class="form-check-label small text-muted" for="defaultCheck1">
		I would like to subscribe to the Arch Value mailing list
		</label>
	  </div>
  </div>
  {% url 'home' as home_page %}
  <div class="row {% if request.get_full_path == home_page %}justify-content-center{% endif %}">
  	<div class="col-lg-6 col-8">
      <div class="form-group">
        <input type="submit" class="btn btn-primary btn-block arch-btn-primary" value="Submit">
      </div>
    </div>
  </div>
</form>