{% load static %}

<div class="container">
  <div class="row my-5">
    <div class="col-md-3 col-sm-6">
      <img class="img-fluid" src="{% static 'img/logo.png' %}" width="120" alt="">
    </div>
    <div class="col-md-3 col-sm-6 mt-sm-0 mt-4">
      <h5 class="footer-header">Resources</h5>
      <div class="footer-link-list">
        <div class="my-1">
          <a class="footer-item" href="{% url 'oem' %}">OEM Services</a>
        </div>
        <div class="my-1">
          <a class="footer-item" href="{% url 'distributor' %}">Distributor Services</a>
        </div>
        <div class="my-1">
          <a class="footer-item" href="{% url 'pages:page_detail' 'partners' %}">Our Partners</a>
        </div>
        <div class="my-1">
          <a class="footer-item" href="{% url 'posts:index' %}">Blog</a>
        </div>
        <div class="my-1">
          <a class="footer-item" href="{% url 'pages:page_detail' 'about' %}">Who We Are</a>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 mt-md-0 mt-sm-4 mt-4">
      <h5 class="footer-header">Follow Us</h5>
      <div class="footer-link-list">
        <div class="my-1">
          <span class="footer-social-icon">
            <a class="footer-item" href="#">
              <i class="fab fa-youtube-square fa-2x"></i>
            </a>
          </span>
          <span class="footer-social-icon">
            <a class="footer-item" href="#">
              <i class="fab fa-twitter-square fa-2x"></i>
            </a>
          </span>
          <span class="footer-social-icon">
            <a class="footer-item" href="#">
              <i class="fab fa-facebook-square fa-2x"></i>
            </a>
          </span>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 mt-md-0 mt-sm-4 mt-4">
      <h5 class="footer-header">Questions?</h5>
      <div class="footer-link-list">
        <div class="my-1">
          <a href="{% url 'contact' %}" class="btn btn-outline-primary arch-btn-outline-primary my-md-auto my-3" role="button" aria-pressed="true">Contact Us</a>
        </div>
      </div>
    </div>
  </div>
</div>