{% load static %}

<style type="text/css">
	.blog-section-bg {
		background-image: linear-gradient(180deg, #B8B8B8 0%, #FFFFFF 100%);
	}

	.post-img {
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
	}

	.post-row {
		height: 250px;
	}

	.card {
		box-shadow: 5px 2px 20px 0 rgba(0,0,0,0.20);
	}

	.card i {
		font-size: 5px;
	}
</style>

<div class="blog-section-bg">
	<div class="container">
		<div class="row pt-5">
			<div class="col-lg-8 col-md-10 col-12">
				<h4>Proven Results For Our Clients</h4>
				<div class="row ml-0">
					<div class="col-2 arch-underline"></div>
				</div>
				<p class="mt-4 mb-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
			</div>
		</div>
		{% for post in posts %}
			<div class="card my-4">
			  <div class="row no-gutters">
			    <div class="col-md-4 rounded post-img post-row" style="background-image: url({{ post.thumbnail_image.url  }});">
			    </div>
			    <div class="col-md-8 d-flex align-items-center">
			      <div class="card-body">
			      	<span class="small arch-brand-color">{{ post.post_category.first }}</span><i class="fas fa-circle align-middle mx-2 text-muted"></i><span class="small text-muted">{{ post.publication_date | date:"M d, Y" }}</span>
			      	{% with header_length=post.header_title|length %}
			        <h5 class="card-title">{{ post.header_title | slice:":110" }}{% if header_length > 110 %}...{% endif %}</h5>
			        {% endwith %}
			        <p class="card-text">{{ post.post_content | striptags | slice:":150" }}...</p>
			        <div class="row">
						<div class="col-6">
							<a href="{% url 'posts:post_detail' post.post_slug post.pk %}" class="btn btn-outline-primary btn-block arch-btn-outline-primary" role="button" aria-pressed="true">Read More</a>
						</div>
					</div>
			      </div>
			    </div>
			  </div>
			</div>
		{% endfor %}
	</div>
</div>