<div class="service-tab-bg">
	<div class="service-tab-bg-layer">
		<div class="container">
			<div class="row">
				<div class="col-12 service-tab-hero-row">
					<h3 class="text-center text-white">Adding value to OEM and distribution partners</h3>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-lg-6 col-md-8 col-12">
					<ul class="nav nav-tabs service-nav-tabs justify-content-center" id="myTab" role="tablist">
						<li class="nav-item">
							<a class="nav-link service-tab text-center active" id="oem-tab" data-toggle="tab" href="#oem" role="tab" aria-controls="oem" aria-selected="true"><u>OEMs</u></a>
						</li>
						<li class="nav-item">
							<a class="nav-link service-tab text-center" id="distributor-tab" data-toggle="tab" href="#distributor" role="tab" aria-controls="distributor" aria-selected="false"><u>Distributors</u></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row mt-5">
		<div class="col-12">
			<div class="tab-content" id="myTabContent">
				<div class="tab-pane service-tab-pane fade show active" id="oem" role="tabpanel" aria-labelledby="oem-tab">
					<div class="row justify-content-center">
						<div class="col-md-4 col-10 text-center">
							<i class="fas fa-bullhorn fa-3x"></i>
							<h5 class="my-3">Brand Marketing</h5>
							<p class="small">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
						</div>
						<div class="col-md-4 col-10 text-center mt-md-0 mt-sm-2 mt-2">
							<i class="fas fa-university fa-3x"></i>
							<h5 class="my-3">Training &amp; Education</h5>
							<p class="small">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
						</div>
						<div class="col-md-4 col-10 text-center mt-md-0 mt-sm-2 mt-2">
							<i class="fas fa-search-dollar fa-3x"></i>
							<h5 class="my-3">Sales Strategy</h5>
							<p class="small">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
						</div>
					</div>
					<div class="row justify-content-center">
						<div class="col-md-3 col-8 mt-4">
							<a href="{% url 'oem' %}" class="btn btn-primary btn-block arch-btn-primary" role="button" aria-pressed="true">Learn More</a>
						</div>
					</div>
				</div>
				<div class="tab-pane service-tab-pane fade" id="distributor" role="tabpanel" aria-labelledby="distributor-tab">
					<div class="row justify-content-center">
						<div class="col-md-4 col-10 text-center">
							<i class="far fa-lightbulb fa-3x"></i>
							<h5 class="my-3">Concept Ideation</h5>
							<p class="small">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
						</div>
						<div class="col-md-4 col-10 text-center mt-md-0 mt-sm-2 mt-2">
							<i class="far fa-handshake fa-3x"></i>
							<h5 class="my-3">Partnership Development</h5>
							<p class="small">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
						</div>
						<div class="col-md-4 col-10 text-center mt-md-0 mt-sm-2 mt-2">
							<i class="fas fa-chart-line fa-3x"></i>
							<h5 class="my-3">Results Driven</h5>
							<p class="small">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
						</div>
					</div>
					<div class="row justify-content-center">
						<div class="col-md-3 col-8 mt-4">
							<a href="{% url 'distributor' %}" class="btn btn-primary btn-block arch-btn-primary" role="button" aria-pressed="true">Learn More</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>