<style>
	.contact-section-bg {
		background-color: #fff;
	}
</style>

<div class="contact-section-bg">
	<div class="container">
		<div class="row justify-content-center pt-5">
			<div class="col-md-6">
				<h4 class="text-center">Get In Touch</h4>
				<div class="row justify-content-center">
					<div class="col-2 arch-underline"></div>
				</div>
				<p class="text-center pt-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col-lg-7 col-md-8 col-12 py-3">
				<form method="post" action="{% url 'contacts:hp_contact' %}">
				{% csrf_token %}
		          <div class="form-group">
		            <select class="form-control" name="user_type" required="required">
		              <option value="" disabled="" selected="">Tell us who you are</option>
		              <option>OEM</option>
		              <option>Distributor</option>
		              <option>Other</option>
		            </select>
		          </div>
		          <div class="form-group">
		            <input type="name" name="user_name" class="form-control" placeholder="Name" required="required">
		          </div>
		          <div class="form-group">
		            <input type="email" name="user_email" class="form-control" placeholder="Email" required="required">
		          </div>
		          <div class="form-group">
		            <input type="tel" name="user_phone" class="form-control" placeholder="Phone Number (Optional)">
		          </div>
		          <div class="form-group">
		            <input type="subject" name="user_company" class="form-control" placeholder="Company Name (Optional)">
		          </div>
		          <div class="form-group">
		            <textarea class="form-control" rows="5" placeholder="Message" name="user_message" required="required"></textarea>
		          </div>
		          <div class="form-group">
			          <div class="form-check">
						<input class="form-check-input" name="user_subscribe" type="checkbox" value="True" id="defaultCheck1">
						<label class="form-check-label small text-muted" for="defaultCheck1">
						I would like to subscribe to the Arch Value mailing list
						</label>
					  </div>
				  </div>
				  <div class="row justify-content-center">
				  	<div class="col-lg-6 col-8">
			          <div class="form-group">
			            <input type="submit" class="btn btn-primary btn-block arch-btn-primary" value="Submit">
			          </div>
			        </div>
			      </div>
		        </form>
			</div>
		</div>
	</div>
</div>