<div class="container-fluid">
	<div class="row mt-5">
		<div class="col-md-6 test-bg-image d-flex align-items-center justify-content-center py-5">
			<div class="row justify-content-center">
				<div class="col-md-10 py-5">
					<h4 class="text-center test-sec-header">What our clients are saying about us</h4>
					<div class="row justify-content-center">
						<div class="col-2 arch-underline-white"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6 bg-white pt-5 pb-4">
			<div class="row justify-content-center py-4">
				<div class="col-8">

					<div class="bd-example">
					  <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
					    <div class="carousel-inner test-carousel-inner pt-5 test-copy-block">
					      <div class="carousel-item active">
					        <!-- <img src="..." class="d-block w-100" alt="..."> -->
					        <div class="d-block">
					         	<blockquote class="blockquote mb-n2">
									<p class="small font-weight-light font-italic arch-quote">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
								</blockquote>
								<p class="arch-brand-color mb-n1">John Doe</p>
								<p class="small font-weight-light">CEO of JD Distributions</p>
					        </div>
					      </div>
					      <div class="carousel-item">
					        <!-- <img src="..." class="d-block w-100" alt="..."> -->
					        <div class="d-block">
					         	<blockquote class="blockquote mb-n2">
									<p class="small font-weight-light font-italic arch-quote">Risus viverra adipiscing at in tellus integer feugiat scelerisque varius morbi enim nunc faucibus a pellentesque sit amet</p>
								</blockquote>
								<p class="arch-brand-color mb-n1">Robert Jones</p>
								<p class="small font-weight-light">Managing Partner at Accelerator Ventures</p>
					        </div>
					      </div>
					      <div class="carousel-item">
					        <!-- <img src="..." class="d-block w-100" alt="..."> -->
					        <div class="d-block">
					         	<blockquote class="blockquote mb-n2">
									<p class="small font-weight-light font-italic arch-quote">Ultricies lacus sed turpis tincidunt id aliquet risus feugiat in ante metus dictum at tempor commodo ullamcorper a lacus</p>
								</blockquote>
								<p class="arch-brand-color mb-n1">George Banks</p>
								<p class="small font-weight-light">Sales Director at Pacific Gas</p>
					        </div>
					      </div>
					    </div>
					    <ol class="carousel-indicators test-carousel-indicators">
					      <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
					      <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
					      <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
					    </ol>
					  </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>