{% extends 'base.html' %}

{% load static %}

{% block title %}{{ page.meta_title }}{{ block.super }}{% endblock %}

{% block description %}{{ page.meta_description }}{% endblock %}

{% block inline_css %}
	<style>
		.page-hero-bg {
			background: linear-gradient(135deg, #E75C00c4 0%, #E89000c4 100%), url({% if page.featured_image.url %}'{{ page.featured_image.url }}'{% else %}{% static 'img/DSC_2859.jpg' %}{% endif %});
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			color: #fff;
		}

		#event-row .card {
			cursor: pointer;
		}

		{{ page.custom_css }}
	</style>
{% endblock %}

{% block script %}
	<script>
		{{ page.custom_js }}

	$(document).ready(function(){
		// empty list to be filled with post objects
		var eventList = [];
		// empty vars to be set with global variables
		// vars updated in functions
		var currentIndex;
		var prevNumber;
		var nextNumber;
		var nextEventUrl;
		var prevEventUrl;
		var nextNumberOffsetOne;
		var prevNumberOffsetOne;
		var nextOffsetOneEventUrl;
		var prevOffsetOneEventUrl;
		var startUrl;
		var catVar;


		function parseEventList(){
			// function used to parse and format posts
			if (eventList == 0){
				// checks if post list is empty
				// empty container before displaying message regaring 0 object
				$('#event-row').empty()
				// error message if 0 post objects available
				$('#event-row').append('<div class="col-12"><h3 class="text-center py-5">Currently there aren\'t any events available.</h3></div>')
			} else {
				// empty all general post cards before parsing and appending
				$('#event-row').empty()
				// loop through post list
				$.each(eventList, function(key, value){
					var eventName = value.event_name
					var fullCountryName = value.full_country_name
					var singleDayEvent = value.single_day_event
					var startDate = value.start_date
					var endDate = value.end_date
					var year = value.year
					var venue = value.venue
					var street = value.street
					var city = value.city
					var eventZipCode = value.event_zip_code
					var state = value.state
					var eventPartners = value.event_partners
					var eventId = value.id
					var fullDate
					var venueString
					var streetString
					var cityStateString
					var partnerString = ''
					var fullPartnerString = ''

					if (singleDayEvent) {
						fullDate = endDate + ', ' + year
					} else {
						fullDate = startDate + ' - ' + endDate + ', ' + year
					}

					if (venue) {
						venueString = '<p class="font-weight-light my-0" id="venue">' + venue + '</p>'
					} else {
						venueString = ''
					}

					if (street) {
						streetString = '<p class="font-weight-light my-0" id="street">' + street + '</p>'
					} else {
						streetString = ''
					}

					if (fullCountryName == 'United States of America') {
						if (!eventZipCode) {
							cityStateString = '<p class="font-weight-light my-0" id="zip">' + city + ', ' + state + '</p>'
						} else {
							cityStateString = '<p class="font-weight-light my-0" id="zip">' + city + ', ' + state + ', ' + eventZipCode + '</p>'
						}
					} else {
						if (!eventZipCode) {
							cityStateString = '<p class="font-weight-light my-0" id="zip">' + city + ', ' + fullCountryName + '</p>'
						} else {
							cityStateString = '<p class="font-weight-light my-0" id="zip">' + eventZipCode + ', ' + city + ', ' + fullCountryName + '</p>'
						}
					}

					for (i=0; i < eventPartners.length; i++) {
						if (eventPartners.length == 0) {
							partnerString = ''
						} else if ((i+1) == eventPartners.length) {
							partnerString += eventPartners[i].partner_name
						} else {
							partnerString += eventPartners[i].partner_name + ', '
						}
					}

					if (partnerString != '') {
						fullPartnerString = '<p class="text-muted mt-2 mb-0">Partners:</p><p class="font-weight-light my-0" id="partner">' + partnerString + '</p>'
					}

					$('#event-row').append(
						'<div class="col-lg-3 col-md-4 col-sm-6 col-12 my-4 d-flex align-items-stretch"><div class="card w-100"><div class="modal-toggle" id="' + eventId + '" data-toggle="modal" data-target=".bd-example-modal-lg"><div class="card-body"><h5 class="card-title">' + eventName + '</h5><div class="row ml-0"><div class="col-2 arch-underline"></div></div><h6 class="font-weight-light my-3">' + fullDate + '</h6><p class="text-muted mb-0">Address:</p>' + venueString + streetString + cityStateString + fullPartnerString + '</div></div></div></div>'
					).hide().fadeIn(500);


				})

			}
		}

		function parseEventDetail(eventDetail){
			// empty all general post cards before parsing and appending
			$('.modal-content').empty()
			var eventName = eventDetail.event_name
			var fullCountryName = eventDetail.full_country_name
			var singleDayEvent = eventDetail.single_day_event
			var startDate = eventDetail.start_date
			var endDate = eventDetail.end_date
			var year = eventDetail.year
			var venue = eventDetail.venue
			var street = eventDetail.street
			var city = eventDetail.city
			var eventZipCode = eventDetail.event_zip_code
			var state = eventDetail.state
			var eventPartners = eventDetail.event_partners
			var eventId = eventDetail.id
			var eventImage = eventDetail.feat_img
			var eventDescription = eventDetail.full_description
			var fullDate
			var venueString
			var streetString
			var cityStateString
			var partnerString = ''
			var fullPartnerString = ''
			var fullEventDescription = ''
			var fullImgCss = ''
			var imgContainer = ''

			console.log(eventImage)

			if (eventImage) {
				fullImgCss = '<style>.event-img{background-image: url(\'' + eventImage + '\'); background-repeat: no-repeat; background-size: cover; background-position: center; height: 220px;}</style>'
				imgContainer = '<div class="col-sm-6 col-12 my-4"><div class="event-img"></div></div>'
			}

			if (eventDescription) {
				fullEventDescription = '<div class="col-sm-6 col-12 my-4"><p class="text-muted mb-0">Description:</p><p class="font-weight-light my-0" id="description">' + eventDescription + '</p></div>'
			}

			if (singleDayEvent) {
				fullDate = endDate + ', ' + year
			} else {
				fullDate = startDate + ' - ' + endDate + ', ' + year
			}

			if (venue) {
				venueString = '<p class="font-weight-light my-0" id="venue">' + venue + '</p>'
			} else {
				venueString = ''
			}

			if (street) {
				streetString = '<p class="font-weight-light my-0" id="street">' + street + '</p>'
			} else {
				streetString = ''
			}

			if (fullCountryName == 'United States of America') {
				if (!eventZipCode) {
					cityStateString = '<p class="font-weight-light my-0" id="zip">' + city + ', ' + state + '</p>'
				} else {
					cityStateString = '<p class="font-weight-light my-0" id="zip">' + city + ', ' + state + ', ' + eventZipCode + '</p>'
				}
			} else {
				if (!eventZipCode) {
					cityStateString = '<p class="font-weight-light my-0" id="zip">' + city + ', ' + fullCountryName + '</p>'
				} else {
					cityStateString = '<p class="font-weight-light my-0" id="zip">' + eventZipCode + ', ' + city + ', ' + fullCountryName + '</p>'
				}
			}

			for (i=0; i < eventPartners.length; i++) {
				if (eventPartners.length == 0) {
					partnerString = ''
				} else if ((i+1) == eventPartners.length) {
					partnerString += eventPartners[i].partner_name
				} else {
					partnerString += eventPartners[i].partner_name + ', '
				}
			}

			if (partnerString != '') {
				fullPartnerString = '<p class="text-muted mt-2 mb-0">Partners:</p><p class="font-weight-light my-0" id="country">' + partnerString + '</p>'
			}

			$('.modal-content').append(
				fullImgCss + '<div class="container-fluid"><div class="row"><div class="col-10"><h2 class="mt-4 mb-2">' + eventName + '</h2><div class="row ml-0"><div class="col-2 arch-underline"></div></div></div><div class="col-2"><div class="mt-3"><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button></div></div></div><div class="row">' + imgContainer + '<div class="col-sm-6 col-12 my-4"><p class="text-muted mb-0">Dates:</p><p class="font-weight-light my-0" id="date">' + fullDate + '</p><p class="text-muted mb-0">Address:</p>' + venueString + streetString + cityStateString + fullPartnerString + '</div>' + fullEventDescription + '</div></div>'
			).hide().fadeIn(500);

			
		}

		// function building pagiation logic
		function buildPagination(){
			
			// set var to empty string - used to build full pagination element
			var pagLinks = '';

			// check if previous page url exists in API - if exists add previous arrow to string
			if (prevEventUrl) {
				pagLinks += '<li class="page-item"><a class="page-link" id="pageBeginning" href="#"><i class="fas fa-angle-double-left"></i></a></li><li class="page-item"><a class="page-link" id="pagePrevious" href="#"><i class="fas fa-angle-left"></i></a></li>'
			}

			// check if previous page url exists and next page url does not exist in API
			// if true, user at end of pagination sequence
			if (prevEventUrl && !nextEventUrl){
				var prevOffsetOne = prevNumber - 1;
				if (prevOffsetOne > 0){
					pagLinks += '<li class="page-item"><a class="page-link" id="previousOffsetOne" href="#">' + prevOffsetOne + '</a></li><li class="page-item"><a class="page-link" id="pagePrevious" href="#">' + prevNumber + '</a></li><li class="page-item"><a class="page-link active" href="#">' + currentIndex + '</a></li>'
				} else {
					pagLinks += '<li class="page-item"><a class="page-link" id="pagePrevious" href="#">' + prevNumber + '</a></li><li class="page-item"><a class="page-link active" href="#">' + currentIndex + '</a></li>'
				}
			}

			// check if next page url exists and previous page url exists in API
			// if both true, user in middle of pagination sequence
			if (prevEventUrl && nextEventUrl){
				var prevOffsetOne = prevNumber - 1;
				var nextOffsetOne = nextNumber + 1;
				if (prevOffsetOne > 0 && nextOffsetOne <= totalPages){
					pagLinks += '<li class="page-item"><a class="page-link" id="previousOffsetOne" href="#">' + prevOffsetOne + '</a></li><li class="page-item"><a class="page-link" id="pagePrevious" href="#">' + prevNumber + '</a></li><li class="page-item"><a class="page-link active" href="#">' + currentIndex + '</a></li><li class="page-item"><a class="page-link" id="pageNext" href="#">' + nextNumber + '</a></li><li class="page-item"><a class="page-link" id="nextOffsetOne" href="#">' + nextOffsetOne + '</a></li>'	
				} else if (prevOffsetOne <= 0 && nextOffsetOne <= totalPages){
					pagLinks += '<li class="page-item"><a class="page-link" id="pagePrevious" href="#">' + prevNumber + '</a></li><li class="page-item"><a class="page-link active" href="#">' + currentIndex + '</a></li><li class="page-item"><a class="page-link" id="pageNext" href="#">' + nextNumber + '</a></li><li class="page-item"><a class="page-link" id="nextOffsetOne" href="#">' + nextOffsetOne + '</a></li>'
				} else if (prevOffsetOne > 0 && nextOffsetOne > totalPages){
					pagLinks += '<li class="page-item"><a class="page-link" id="previousOffsetOne" href="#">' + prevOffsetOne + '</a></li><li class="page-item"><a class="page-link" id="pagePrevious" href="#">' + prevNumber + '</a></li><li class="page-item"><a class="page-link active" href="#">' + currentIndex + '</a></li><li class="page-item"><a class="page-link" id="pageNext" href="#">' + nextNumber + '</a></li>'
				} else {
					pagLinks += '<li class="page-item"><a class="page-link" id="pagePrevious" href="#">' + prevNumber + '</a></li><li class="page-item"><a class="page-link active" href="#">' + currentIndex + '</a></li><li class="page-item"><a class="page-link" id="pageNext" href="#">' + nextNumber + '</a></li>'
				}
			}

			// check if next page url exists and previous page url does not exist in API
			// if true, user at beginning of pagination sequence
			if (!prevEventUrl && nextEventUrl){
				var nextOffsetOne = nextNumber + 1;
				if (nextOffsetOne <= totalPages){
					pagLinks += '<li class="page-item"><a class="page-link active" href="#">' + currentIndex + '</a></li><li class="page-item"><a class="page-link" id="pageNext" href="#">' + nextNumber + '</a></li><li class="page-item"><a class="page-link" id="nextOffsetOne" href="#">' + nextOffsetOne + '</a></li>'
				} else {
					pagLinks += '<li class="page-item"><a class="page-link active" href="#">' + currentIndex + '</a></li><li class="page-item"><a class="page-link" id="pageNext" href="#">' + nextNumber + '</a></li>'
				}	
			}

			// check if next page url exists in API - if exists add next arrow to string
			if (nextEventUrl) {
				pagLinks += '<li class="page-item"><a class="page-link" id="pageNext" href="#"><i class="fas fa-angle-right"></i></a></li><li class="page-item"><a class="page-link" id="pageEnd" href="#"><i class="fas fa-angle-double-right"></i></a></li>'
			}

			// after pagLinks variable fully built, add to page via html()
			$('#pagination-list').html(pagLinks).hide().fadeIn(500);
		}

		function fetchPosts(url){
			// check if url argument passed through function
			if (!url) {
				// default url if no url argument passed through
				fetchUrl = '/events-api/api/list-event/'
			} else {
				fetchUrl = url
			}
			$.ajax({
				url: fetchUrl,
				method: 'GET',
				success: function(data){
					// grab api url data
					currentUrl = fetchUrl

					// set current index
					if (data['prev_page_num']) {
						currentIndex = data['prev_page_num'] + 1
					} else {
						currentIndex = 1
					}
					
					// set previous page index
					if (data['prev_page_num']) {
						prevNumber = data['prev_page_num']
					} else {
						prevNumber = undefined
					}
					
					// set next page index
					if (data['nex_page_num']) {
						nextNumber = data['nex_page_num']
					} else {
						nextNumber = undefined
					}

					// set previous page index offset 1
					if (prevNumber) {
						prevNumberOffsetOne = prevNumber - 1
					} else {
						prevNumberOffsetOne = undefined
					}

					// set next page index offset 1
					if (nextNumber) {
						nextNumberOffsetOne = nextNumber + 1
					} else {
						nextNumberOffsetOne = undefined
					}
					
					// set total pages
					totalPages = data['total_pages']
					// object result data
					eventList = data['results']
					// check if next and previous api urls exist
					// must set to undefined if they do not exist in order to clear variable
					if (data.next){
						nextEventUrl = data.next
					} else {
						nextEventUrl = undefined
					}
					if (data.previous){
						prevEventUrl = data.previous
					} else {
						prevEventUrl = undefined
					}

					// set var urls to be used depending on which api is called
					var allUrl = '/events-api/api/list-event/'

					// checks which API is being called and connects to correct path
					if (prevNumberOffsetOne > 0) {
						prevOffsetOneEventUrl = allUrl + '?page=' + prevNumberOffsetOne
					} else {
						prevOffsetOneEventUrl = undefined
					}

					if (nextNumberOffsetOne <= totalPages) {
						nextOffsetOneEventUrl = allUrl + '?page=' + nextNumberOffsetOne
					} else {
						nextOffsetOneEventUrl = undefined
					}

					startUrl = allUrl
					endUrl = allUrl + '?page=' + totalPages
					
					// execute function to parse posts
					parseEventList()

					// checks number of total pages in api
					if (totalPages > 1){
						buildPagination()
					} else {
						// remove pagination element if < 1 page exists
						$('#pagination-list').empty()
					}
				},
				error: function(data){
					console.log('error')
					console.log(data)
				}
			})
		}

		// function for fetching single event
		function fetchSingleEvent(eventId){

			fetchUrl = '/events-api/api/event/' + eventId + '/'

			$.ajax({
				url: fetchUrl,
				method: 'GET',
				success: function(data){

					eventDetail = data
					console.log(eventDetail)
					
					// execute function to parse posts
					parseEventDetail(eventDetail)

				},
				error: function(data){
					console.log('error')
					console.log(data)
				}
			})

		}

		// scrolls user to top of page - used on pagination clicks
		function scrollerTop() {
			$("body,html").animate(
				{
					scrollTop: $("#event-row").offset().top
				},
				200
			)
		}

		// automically execute function on page load
		fetchPosts();

		// event handlers for pagination
		$(document).on('click', '#pageBeginning', function(event){
			event.preventDefault()
			console.log(startUrl)
			fetchPosts()
			scrollerTop()
		})

		// event handlers for pagination
		$(document).on('click', '#pageEnd', function(event){
			event.preventDefault()
			console.log(endUrl)
			if (endUrl){
				fetchPosts(endUrl)
			}
			scrollerTop()
		})

		// event handlers for pagination
		$(document).on('click', '#pagePrevious', function(event){
			event.preventDefault()
			console.log(prevEventUrl)
			if (prevEventUrl){
				fetchPosts(prevEventUrl)
			}
			scrollerTop()
		})

		$(document).on('click', '#pageNext', function(event){
			event.preventDefault()
			console.log(nextEventUrl)
			if (nextEventUrl){
				fetchPosts(nextEventUrl)
			}
			scrollerTop()
		})

		$(document).on('click', '#nextOffsetOne', function(event){
			event.preventDefault()
			console.log(nextOffsetOneEventUrl)
			if (nextOffsetOneEventUrl){
				fetchPosts(nextOffsetOneEventUrl)
			}
			scrollerTop()
		})

		$(document).on('click', '#previousOffsetOne', function(event){
			event.preventDefault()
			console.log(prevOffsetOneEventUrl)
			if (prevOffsetOneEventUrl){
				fetchPosts(prevOffsetOneEventUrl)
			}
			scrollerTop()
		})

		// event handler modal
		$(document).on('click', '.modal-toggle', function(event){
			var getElemId = $(this).attr('id')
			console.log(getElemId)
			fetchSingleEvent(getElemId)
		})

	});
	</script>
{% endblock %}

{% block content %}
<div class="page-hero-bg">
	<div class="container-fluid">
		<div class="row justify-content-center py-5">
			<h1 class="text-white py-3">{{ page.header_title }}</h1>
		</div>
	</div>
</div>

<!-- remove after development!!! -->
{% include 'cms_only/events.html' %}
<!-- remove after development!!! -->

{{ page.page_content|safe }}

{% if page.show_cta == True %}
	{% include 'partials/_cta_footer.html' %}
{% endif %}
{% endblock %}