<div class="bg-white">
	<div class="container">
		<div class="row py-4" id="event-row">

			<!-- card body col/container -->
			<div class="col-lg-4 col-sm-6 col-12 py-4 d-flex align-items-stretch">
				<div class="card">
				  <div class="card-body">
				    <h5 class="card-title">This is a sample event title</h5>
				    <div class="row ml-0">
						<div class="col-2 arch-underline"></div>
					</div>
					<h6 class="font-weight-light">Tester</h6>

				  </div>
				</div>
			</div>	
			<!-- end card body col/container -->

		</div>
	</div>	
</div>