<!-- Exclude Script Tags in CMS -->
<script>
	$(document).ready(function(){
		// empty list to be filled with partner objects
		var partnerList = [];
		// empty vars to be set with global variables
		// vars updated in functions
		var currentIndex;
		var prevNumber;
		var nextNumber;
		var nextPartnerUrl;
		var prevPartnerUrl;
		var nextNumberOffsetOne;
		var prevNumberOffsetOne;
		var nextOffsetOnePartnerUrl;
		var prevOffsetOnePartnerUrl;
		var startUrl;
		var catVar;


		function parsePartnerList(){
			// function used to parse and format partners
			if (partnerList == 0){
				// checks if partner list is empty
				// empty container before displaying message regaring 0 object
				$('#partner-row').empty()
				// error message if 0 post objects available
				$('#partner-row').append('<div class="col-12"><h3 class="text-center py-5">Currently there aren\'t any partners available.</h3></div>')
			} else {
				// empty all partner cards before parsing and appending
				$('#partner-row').empty()
				// loop through partner list
				$.each(partnerList, function(key, value){

					// grab partner properties
					var partnerName = value.partner_name
					var partnerImg = value.partner_img
					var partnerId = value.id

					// append partner cards ins partner list view
					$('#partner-row').append(
						'<div class="col-lg-3 col-md-4 col-sm-6 col-12 my-4 d-flex align-items-stretch"><div class="card text-center w-100"><div class="modal-toggle" id="' + partnerId + '" data-toggle="modal" data-target=".bd-example-modal-lg"><div class="card-body"><div class="row"><div class="col-12"><div class="d-flex align-items-center justify-content-center"><img class="img-fluid d-inline-block" src="' + partnerImg + '"></div></div></div><div class="row"><div class="col-12"><h6 class="font-weight-light my-3">' + partnerName + '</h6></div></div></div></div></div></div>'
					).hide().fadeIn(500);


				})

			}
		}

		function parsePartnerDetail(partnerDetail){
			// empty all partner cards before parsing and appending
			$('.modal-body').empty()

			// grab partner object properties
			var partnerName = partnerDetail.partner_name
			var partnerImg = partnerDetail.partner_img
			var partnerSite = partnerDetail.partner_website
			var partnerDescription = partnerDetail.partner_description
			var partnerBlogTag = partnerDetail.partner_tag
			var partnerBlogTagId
			var partnerWebsite = ''
			var partnerFullDesc = ''
			var partnerBlogError = ''

			if (partnerSite) {
				// if partner site exists, create element
				partnerWebsite = '<div class="col-sm-6 col-12 my-4"><h6 class="text-muted mb-0">Website:</h6><p class="my-0"><a style="word-wrap: break-word;" href="' + partnerSite + '" rel="nofollow">' + partnerSite + '</a></p></div>'
			}

			if (partnerDescription) {
				// if partner description exists, create element
				partnerFullDesc = '<div class="col-12 my-4"><h6 class="text-muted mb-0">About ' + partnerName + ':</h6><p class="font-weight-light mt-2">' + partnerDescription + '</p></div>'
			}

			if (partnerBlogTag) {
				// if partner tag exists, grab tag ID and execute function
				// fetching blog posts
				partnerBlogTagId = partnerBlogTag.id
				fetchBlogPosts(partnerBlogTagId)	
			} else {
				// if partner tag does not exist, create element error message
				partnerBlogError = '<div class="col-12 text-center"><h5 class="my-4">Currently there aren\'t any posts available.</h5></div>'
			}

			// append partner detail to modal
			$('.modal-body').append(
				'<div class="container-fluid"><div class="row"><div class="col-10"><h2 class="mt-4 mb-2">' + partnerName + '</h2><div class="row ml-0"><div class="col-2 arch-underline"></div></div></div><div class="col-2"><div class="mt-3"><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button></div></div></div><div class="row partner-details"><div class="col-sm-6 col-12 my-4"><div class="d-flex align-items-center justify-content-center"><img class="img-fluid d-inline-block" src="' + partnerImg + '"></div></div>' + partnerWebsite + partnerFullDesc + '</div><div class="row"><div class="col-12"><h2 class="mb-2">Featured Posts</h2><div class="row ml-0"><div class="col-2 arch-underline"></div></div></div></div><div class="row partner-blog justify-content-center">' + partnerBlogError + '<div id="featured-post" class="col-12"></div></div><div class="row" id="general-post"></div></div>'
			).hide().fadeIn(500);

			
		}

		function parsePostList(blogPostList) {
			// set index variable for iterator
			var index = 0;
			if (blogPostList.length < 1) {
				// if blog post array empty, append error message
				$('.partner-blog').append('<div class="col-12 text-center"><h5 class="my-4">Currently there aren\'t any posts available.</h5></div>')
			} else {
				// if blog post array not empty, run loop on blog post array
				$.each(blogPostList, function(key, value){
					// grab blog post object properties
					var postTitle = value.post_title
					var postShortTitle = value.shorter_title
					var postPubDate = value.pub_date
					var postContent = value.strip_content
					var postShortContent = value.shorter_content
					var postUrl = value.post_url
					// set category variable for checking if category exists
					var postCategory;
					// need to check if category exists otherwise it breaks
					if (value.post_category[0]) {
						postCategory = value.post_category[0].category_name
					} else {
						postCategory = 'General'
					}

					// set empty variable for post image
					var postImg;
					// logic checking if image objects exist
					if (value.thumb_img) {
						postImg = value.thumb_img
					} else if (value.feat_img) {
						postImg = value.feat_img
					} else {
						postImg = ''
					}

					// checks iterator count and breaks if above 5 objects
					if (index > 4) {
						return false
					}

					// index iterates by 1 through loop
					index += 1
					// if index value 1 or first post object, show post in featured format
					// else show post in general format
					if (index == 1) {
						$('#featured-post').html(
							'<div class="card blog-card my-4"><div class="row no-gutters"><div class="col-lg-4 rounded blog-img blog-row" style="background-image: url(\'' + postImg + '\');"></div><div class="col-lg-8 d-flex align-items-center"><div class="card-body"><span class="small arch-orange">' + postCategory + '</span><i class="fas fa-circle align-middle mx-2"></i><span class="small text-muted">' + postPubDate + '</span><h5 class="card-title"><a href="' + postUrl + '">' + postTitle + '</a></h5><p class="card-text">' + postContent + '</p><div class="row"><div class="col-6"><a href="' + postUrl + '" class="btn btn-outline-primary btn-block arch-btn-outline-primary" role="button" aria-pressed="true">Read More</a></div></div></div></div></div></div>'
						).hide().fadeIn(500);
					} else {
						$('#general-post').append(
							'<div class="col-lg-6 mb-4 d-flex align-items-stretch"><div class="card blog-card"><div class="card-img-top blog-img blog-row" style="background-image: url(\'' + postImg + '\');"></div><div class="card-body"><span class="small arch-orange">' + postCategory + '</span><i class="fas fa-circle align-middle mx-2"></i><span class="small text-muted">' + postPubDate + '</span><h5 class="card-title"><a href="' + postUrl + '">' + postShortTitle + '</a></h5><p class="card-text">' + postShortContent + '</p><div class="row"><div class="col-6"><a href="' + postUrl + '" class="btn btn-outline-primary btn-block arch-btn-outline-primary" role="button" aria-pressed="true">Read More</a></div></div></div></div></div>'
						).hide().fadeIn(500);
					}

				})
			}
		}

		// function building pagiation logic
		function buildPagination(){
			
			// set var to empty string - used to build full pagination element
			var pagLinks = '';

			// check if previous page url exists in API - if exists add previous arrow to string
			if (prevPartnerUrl) {
				pagLinks += '<li class="page-item"><a class="page-link" id="pageBeginning" href="#"><i class="fas fa-angle-double-left"></i></a></li><li class="page-item"><a class="page-link" id="pagePrevious" href="#"><i class="fas fa-angle-left"></i></a></li>'
			}

			// check if previous page url exists and next page url does not exist in API
			// if true, user at end of pagination sequence
			if (prevPartnerUrl && !nextPartnerUrl){
				var prevOffsetOne = prevNumber - 1;
				if (prevOffsetOne > 0){
					pagLinks += '<li class="page-item"><a class="page-link" id="previousOffsetOne" href="#">' + prevOffsetOne + '</a></li><li class="page-item"><a class="page-link" id="pagePrevious" href="#">' + prevNumber + '</a></li><li class="page-item"><a class="page-link active" href="#">' + currentIndex + '</a></li>'
				} else {
					pagLinks += '<li class="page-item"><a class="page-link" id="pagePrevious" href="#">' + prevNumber + '</a></li><li class="page-item"><a class="page-link active" href="#">' + currentIndex + '</a></li>'
				}
			}

			// check if next page url exists and previous page url exists in API
			// if both true, user in middle of pagination sequence
			if (prevPartnerUrl && nextPartnerUrl){
				var prevOffsetOne = prevNumber - 1;
				var nextOffsetOne = nextNumber + 1;
				if (prevOffsetOne > 0 && nextOffsetOne <= totalPages){
					pagLinks += '<li class="page-item"><a class="page-link" id="previousOffsetOne" href="#">' + prevOffsetOne + '</a></li><li class="page-item"><a class="page-link" id="pagePrevious" href="#">' + prevNumber + '</a></li><li class="page-item"><a class="page-link active" href="#">' + currentIndex + '</a></li><li class="page-item"><a class="page-link" id="pageNext" href="#">' + nextNumber + '</a></li><li class="page-item"><a class="page-link" id="nextOffsetOne" href="#">' + nextOffsetOne + '</a></li>'	
				} else if (prevOffsetOne <= 0 && nextOffsetOne <= totalPages){
					pagLinks += '<li class="page-item"><a class="page-link" id="pagePrevious" href="#">' + prevNumber + '</a></li><li class="page-item"><a class="page-link active" href="#">' + currentIndex + '</a></li><li class="page-item"><a class="page-link" id="pageNext" href="#">' + nextNumber + '</a></li><li class="page-item"><a class="page-link" id="nextOffsetOne" href="#">' + nextOffsetOne + '</a></li>'
				} else if (prevOffsetOne > 0 && nextOffsetOne > totalPages){
					pagLinks += '<li class="page-item"><a class="page-link" id="previousOffsetOne" href="#">' + prevOffsetOne + '</a></li><li class="page-item"><a class="page-link" id="pagePrevious" href="#">' + prevNumber + '</a></li><li class="page-item"><a class="page-link active" href="#">' + currentIndex + '</a></li><li class="page-item"><a class="page-link" id="pageNext" href="#">' + nextNumber + '</a></li>'
				} else {
					pagLinks += '<li class="page-item"><a class="page-link" id="pagePrevious" href="#">' + prevNumber + '</a></li><li class="page-item"><a class="page-link active" href="#">' + currentIndex + '</a></li><li class="page-item"><a class="page-link" id="pageNext" href="#">' + nextNumber + '</a></li>'
				}
			}

			// check if next page url exists and previous page url does not exist in API
			// if true, user at beginning of pagination sequence
			if (!prevPartnerUrl && nextPartnerUrl){
				var nextOffsetOne = nextNumber + 1;
				if (nextOffsetOne <= totalPages){
					pagLinks += '<li class="page-item"><a class="page-link active" href="#">' + currentIndex + '</a></li><li class="page-item"><a class="page-link" id="pageNext" href="#">' + nextNumber + '</a></li><li class="page-item"><a class="page-link" id="nextOffsetOne" href="#">' + nextOffsetOne + '</a></li>'
				} else {
					pagLinks += '<li class="page-item"><a class="page-link active" href="#">' + currentIndex + '</a></li><li class="page-item"><a class="page-link" id="pageNext" href="#">' + nextNumber + '</a></li>'
				}	
			}

			// check if next page url exists in API - if exists add next arrow to string
			if (nextPartnerUrl) {
				pagLinks += '<li class="page-item"><a class="page-link" id="pageNext" href="#"><i class="fas fa-angle-right"></i></a></li><li class="page-item"><a class="page-link" id="pageEnd" href="#"><i class="fas fa-angle-double-right"></i></a></li>'
			}

			// after pagLinks variable fully built, add to page via html()
			$('#pagination-list').html(pagLinks).hide().fadeIn(500);
		}

		function fetchPartners(url){
			// check if url argument passed through function
			if (!url) {
				// default url if no url argument passed through
				fetchUrl = '/partners-api/api/list-partner/'
			} else {
				fetchUrl = url
			}
			$.ajax({
				url: fetchUrl,
				method: 'GET',
				success: function(data){
					// grab api url data
					currentUrl = fetchUrl

					// set current index
					if (data['prev_page_num']) {
						currentIndex = data['prev_page_num'] + 1
					} else {
						currentIndex = 1
					}
					
					// set previous page index
					if (data['prev_page_num']) {
						prevNumber = data['prev_page_num']
					} else {
						prevNumber = undefined
					}
					
					// set next page index
					if (data['nex_page_num']) {
						nextNumber = data['nex_page_num']
					} else {
						nextNumber = undefined
					}

					// set previous page index offset 1
					if (prevNumber) {
						prevNumberOffsetOne = prevNumber - 1
					} else {
						prevNumberOffsetOne = undefined
					}

					// set next page index offset 1
					if (nextNumber) {
						nextNumberOffsetOne = nextNumber + 1
					} else {
						nextNumberOffsetOne = undefined
					}
					
					// set total pages
					totalPages = data['total_pages']
					// object result data
					partnerList = data['results']
					// check if next and previous api urls exist
					// must set to undefined if they do not exist in order to clear variable
					if (data.next){
						nextPartnerUrl = data.next
					} else {
						nextPartnerUrl = undefined
					}
					if (data.previous){
						prevPartnerUrl = data.previous
					} else {
						prevPartnerUrl = undefined
					}

					// set var urls to be used depending on which api is called
					var allUrl = '/partners-api/api/list-partner/'

					// checks which API is being called and connects to correct path
					if (prevNumberOffsetOne > 0) {
						prevOffsetOnePartnerUrl = allUrl + '?page=' + prevNumberOffsetOne
					} else {
						prevOffsetOnePartnerUrl = undefined
					}

					if (nextNumberOffsetOne <= totalPages) {
						nextOffsetOnePartnerUrl = allUrl + '?page=' + nextNumberOffsetOne
					} else {
						nextOffsetOnePartnerUrl = undefined
					}

					startUrl = allUrl
					endUrl = allUrl + '?page=' + totalPages
					
					// execute function to parse partner list
					parsePartnerList()

					// checks number of total pages in api
					if (totalPages > 1){
						buildPagination()
					} else {
						// remove pagination element if < 1 page exists
						$('#pagination-list').empty()
					}
				},
				error: function(data){
					console.log('error')
					console.log(data)
				}
			})
		}

		// function for fetching single partner
		function fetchSinglePartner(eventId){

			fetchUrl = '/partners-api/api/partner/' + eventId

			$.ajax({
				url: fetchUrl,
				method: 'GET',
				success: function(data){

					partnerDetail = data
					
					// execute function to parse partner detail view
					parsePartnerDetail(partnerDetail)

				},
				error: function(data){
					console.log('error')
					console.log(data)
				}
			})

		}

		function fetchBlogPosts(tagId){
			
			fetchUrl = '/blog/api/tag/' + tagId + '/'

			$.ajax({
				url: fetchUrl,
				method: 'GET',
				success: function(data){
					// object result data
					blogPostList = data['results']
					
					// execute function to parse blog post detail view
					parsePostList(blogPostList)

				},
				error: function(data){
					console.log('error')
					console.log(data)
				}
			})

		}


		

		// scrolls user to top of page - used on pagination clicks
		function scrollerTop() {
			$("body,html").animate(
				{
					scrollTop: $("#partner-row").offset().top
				},
				200
			)
		}

		// automically execute function on page load
		fetchPartners();

		// event handlers for pagination
		$(document).on('click', '#pageBeginning', function(event){
			event.preventDefault()
			fetchPartners()
			scrollerTop()
		})

		// event handlers for pagination
		$(document).on('click', '#pageEnd', function(event){
			event.preventDefault()
			if (endUrl){
				fetchPartners(endUrl)
			}
			scrollerTop()
		})

		// event handlers for pagination
		$(document).on('click', '#pagePrevious', function(event){
			event.preventDefault()
			if (prevPartnerUrl){
				fetchPartners(prevPartnerUrl)
			}
			scrollerTop()
		})

		$(document).on('click', '#pageNext', function(event){
			event.preventDefault()
			if (nextPartnerUrl){
				fetchPartners(nextPartnerUrl)
			}
			scrollerTop()
		})

		$(document).on('click', '#nextOffsetOne', function(event){
			event.preventDefault()
			if (nextOffsetOnePartnerUrl){
				fetchPartners(nextOffsetOnePartnerUrl)
			}
			scrollerTop()
		})

		$(document).on('click', '#previousOffsetOne', function(event){
			event.preventDefault()
			if (prevOffsetOnePartnerUrl){
				fetchPartners(prevOffsetOnePartnerUrl)
			}
			scrollerTop()
		})

		// event handler modal
		$(document).on('click', '.modal-toggle', function(event){
			var getElemId = $(this).attr('id')
			fetchSinglePartner(getElemId)
		})

	});
</script>


<!-- Exclude Style Tags in CMS -->
<style type="text/css">
	#partner-row .card {
			cursor: pointer;
		}
</style>

<!-- Include All HTM in CMS -->
<div class="bg-white">
	<div class="container">
		<div class="row py-4 d-flex" id="partner-row">

		</div>
		<div class="row justify-content-center">
			<nav aria-label="Page navigation example">
			  <ul class="pagination pag-custom pb-0" id="pagination-list">
			  	<!-- jquery appends pagination -->
			  </ul>
			</nav>
		</div>
		<!-- modal -->
		<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-lg modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-body">
					</div>
				</div>
			</div>
		</div>
	</div>	
</div>