/*** Global Styles ***/

	/** Top Navigation **/
	.bg-custom {
		background-color: #3a3a3a;
	}

	.dropdown-menu-custom {
		border: none;
		background-color: #3a3a3a;
	}

	.dropdown-menu-custom .dropdown-item {
		color: rgba(255,255,255,.5);
	}

	.dropdown-menu-custom .dropdown-item:focus, 
	.dropdown-menu-custom .dropdown-item:hover {
		color: rgba(255,255,255,.75);
		background-color: #3a3a3a;
	}

	.dropdown-menu-custom .dropdown-item.active,
	.dropdown-menu-custom .dropdown-item:active {
		color: #fff;
		background-color: #3a3a3a;
	}

	.navbar-dark .navbar-toggler-custom {
		border-color: transparent;
	}

	.navbar-dark .navbar-toggler-custom:focus,
	.navbar-dark .navbar-toggler-custom:active {
		outline: none;
		box-shadow: none;
	}


	/** Buttons **/

		/* Outline Button */
		.arch-btn-outline-primary {
			color: #ff6601;
			border-color: #ff6601;
		}

		.arch-btn-outline-primary:hover {
			color: #fff;
			background-color: #ff6601;
			border-color: #ff6601;
		}

		.arch-btn-outline-primary:not(:disabled):not(.disabled):active {
			color: #fff;
			background-color: #ff6601;
			border-color: #ff6601;
		}