/*** Global Styles ***/

	/** Font **/

		/* Font Style */
		body {
			font-family: 'Roboto', sans-serif;
		}

		/* Font Color */
		h1, h2, h3, h4, h5, p {
			color: #3a3a3a;
		}

		.arch-orange {
			color: #ff6601;
		}

	/** Background Style **/

	body {
		background-color: #3a3a3a;
	}

	.arch-gray-bg {
		background-color: #d8d8d8;
	}

	/** Line Accents **/

		/* Underline */
		.arch-underline {
			border-bottom: 3px solid #ff6601;
		}

		.arch-underline-white {
			border-bottom: 3px solid #fff;
		}

	/** Top Navigation **/
	.bg-custom {
		background-color: #3a3a3a;
	}

	.dropdown-menu-custom {
		border: none;
		background-color: #3a3a3a;
	}

	.dropdown-menu-custom .dropdown-item {
		color: rgba(255,255,255,.5);
	}

	.dropdown-menu-custom .dropdown-item:focus, 
	.dropdown-menu-custom .dropdown-item:hover {
		color: rgba(255,255,255,.75);
		background-color: #3a3a3a;
	}

	.dropdown-menu-custom .dropdown-item.active,
	.dropdown-menu-custom .dropdown-item:active {
		color: #fff;
		background-color: #3a3a3a;
	}

	.navbar-dark .navbar-toggler-custom {
		border-color: transparent;
	}

	.navbar-dark .navbar-toggler-custom:focus,
	.navbar-dark .navbar-toggler-custom:active {
		outline: none;
		box-shadow: none;
	}

	/** Footer Navigation **/
	.footer-header,
	.footer-copyright {
		color: rgba(255,255,255,.75);
	}

	.footer-link-list {
		border-left: 3px solid #ff6601;
		padding-left: 15px;
	}

	.footer-social-icon {
		margin: 3px;
	}

	.footer-link-list .footer-item {
		color: rgba(255,255,255,.5);
	}

	.footer-link-list .footer-item:hover {
		color: rgba(255,255,255,.75);
		text-decoration: none;
	}

	/** Buttons **/

		/* Primary Button */
		.arch-btn-primary {
			background-color: #ff6601;
			border-color: #ff6601;
			color: #fff;
		}

		.arch-btn-primary:hover {
			color: #fff;
			background-color: #CD5200;
			border-color: #CD5200;
		}

		.arch-btn-primary:not(:disabled):not(.disabled):active {
			color: #fff;
			background-color: #ff6601;
		}

		/* Outline Button */
		.arch-btn-outline-primary {
			color: #ff6601;
			border-color: #ff6601;
		}

		.arch-btn-outline-primary:hover {
			color: #fff;
			background-color: #ff6601;
			border-color: #ff6601;
		}

		.arch-btn-outline-primary:not(:disabled):not(.disabled):active {
			color: #fff;
			background-color: #ff6601;
			border-color: #ff6601;
		}